@import './src/variables';

.table {
    margin: 1rem;
    display: grid;

    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto;

    .header {
        opacity: 0.2;
    }
    .total {
        margin-bottom: 1rem;
    }
    .used {
        color: $used-color;
    }
    .booked {
        color: $booked-color;
    }
    .planned {
        color: $planned-color;
    }
    .remaining {
        color: $base-color;
    }
    .bh {
        color: $bankholiday-color;
    }
    .title {
        color: white;
        text-decoration: underline;
        &.total {
            text-decoration: none;
            opacity: 0.2;
        }
        &.used {
            text-decoration-color: $used-color;
        }
        &.booked {
            text-decoration-color: $booked-color;
        }
        &.planned {
            text-decoration-color: $planned-color;
        }
        &.remaining {
            text-decoration-color: $base-color;
        }
    }

    .numFormatted {
        display: flex;
        justify-content: flex-end;
        align-items: baseline;
        width: 50%;

        .halfString {
            font-size: 1rem;
            visibility: hidden;
            &.visible {
                visibility: visible;
            }
        }
    }
}

.visualisation {
    margin: 0 auto;
    display: grid;
    width: fit-content;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 3px;

    @keyframes bgFadeIn {
        from {
            opacity: 0.1;
        }
        to {
            opacity: 1;
        }
    }

    .square {
        width: 20px;
        height: 20px;
        opacity: 0.1;
        animation: {
            name: bgFadeIn;
            duration: 0.8s;
            fill-mode: forwards;
            delay: 0.3s;
        }

        .bg {
            width: 100%;
            height: 100%;
        }

        &.half {
            background-color: transparent;
            .bg {
                clip-path: polygon(0% 0%, 100% 0%, 0% 100%, 0% 0%);
            }
        }

        &.used {
            .bg {
                background-color: $used-color;
            }
        }
        &.booked {
            .bg {
                background-color: $booked-color;
            }
        }
        &.planned {
            .bg {
                background-color: $planned-color;
            }
        }
        &.remaining {
            .bg {
                background-color: $base-color;
            }
        }
    }
}
