@import './src/variables';

.app {
    background-color: $bg-color;
    min-height: 100vh;
    max-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
    font-size: calc(10px + 2vmin);
    color: white;

    display: grid;
    grid-template-areas:
        "data-entry calendar"
        "stats      calendar";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr;

    .data-entry-section {
        grid-area: data-entry;
        // padding: 1rem;

        #requestsTablePasteArea {
            width: 500px;
            height: 250px;
            margin: 0 1rem;
        }
        button {
            margin: 0 1rem;
        }

    }
    .stats-section {
        grid-area: stats;
        margin: 1rem;
        overflow-y: auto;
    }
    .calendar-section {
        grid-area: calendar;

        display: flex;
        flex-direction: column;
        height: 100vh;

        .subtitle {
            margin-bottom: 0;
        }

        .year-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;

            .control {
                display: flex;
                align-items: center;
                padding: 0 0.5rem;
                margin: 0 0.5rem;
                color: $base-color;
                cursor: pointer;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: #888;
                }
            }
            .year {
                font-weight: bold;
            }
        }

        .calendar {
            flex-grow: 1;
            margin: 1rem;

            display: grid;
            grid-template-areas:
                "cal cal cal"
                "cal cal cal"
                "cal cal cal"
                "cal cal cal";
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(4, 1fr);
            grid-gap: 1rem;

            overflow-y: auto;
        }
    }
}
