@import './src/variables';

.month {
    display: flex;
    flex-direction: column;

    .monthName {
        padding: 0.2rem 1rem;
        font-size: 1.5rem;
        text-align: center;
        color: $base-color;
    }
    .grid {
        flex-grow: 1;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-auto-rows: 1fr;

        .day {
            font-size: 1rem;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: color 0.3s ease;
            position: relative;
            z-index: 1;
            user-select: none;

            .bg {
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: -1;
                transition: all 0.3s ease;
            }

            &:nth-child(7n), &:nth-child(7n-6) {
                background: #555;
                opacity: 0.3;
                color: white;
                pointer-events: none;
            }
            &.empty {
                pointer-events: none;
            }
            &.header {
                border-bottom: 1px solid #ddd;
                pointer-events: none;
                font-weight: 900;
            }
            &.booked {
                pointer-events: none;
                .bg {
                    background-color: $booked-color;
                }
            }
            &.used {
                pointer-events: none;
                .bg {
                    background-color: $used-color;
                }
            }
            &.halfday {
                pointer-events: none;
                .bg {
                    clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 100% 0%);
                }
            }
            &.bankholiday {
                pointer-events: none;
                .bg {
                    background-color: $bankholiday-color;
                }
            }
            &.today {
                pointer-events: none;
                .bg {
                    background-color: $today-color;
                }
            }

            &:hover {
                color: $base-color;
                cursor: pointer;
                .bg {
                    background-color: lighten($bg-color, 20%);
                }
            }

            &.planning {
                pointer-events: auto !important;

                .bg {
                    background-color: $planned-color;
                }
                &:hover {
                    border: none;
                    color: white;
                    .bg {
                        background-color: $planned-color;
                    }
                }
            }
        }
    }
}
