$base-color: #61DAFB;
$bg-color: #282c34;

// $booked-color: #00C5A5;
$booked-color: scale-color(#00C5A5, $lightness: -20%);
$used-color: scale-color($booked-color, $lightness: -40%);
$planned-color: scale-color(#ff8547, $lightness: -20%, $saturation: -50%);

$today-color: #FE8DAB;
$bankholiday-color: #0081CD;
